<header>
    <h1>{{ site.author }}</h1>
        <p>Web Developer</p>
        <div id="networks">
            <h2>Networks</h2>
            <p class="view">
                <a href="http://github.com/desyncr/">GitHub</a> <small>Social coding</small>
            </p>
            <p class="view">
                <a href="http://twitter.com/desyncr/">Twitter</a> <small>Random thoughts</small>
            </p>
            <p class="view">
                <a href="http://resume.syncr.com.ar/">Resume</a> <small>My resume</small>
            </p>
            <p class="view last">
                <a href="http://www.linkedin.com/in/dcavuotti">LinkedIn</a> <small>Social profile</small>
            </p>
        </div>
        <div id="projects">
            <h2>Projects</h2>

            <p class="view">
                <a href="http://github.com/desyncr/btlive">BTlive</a> <small>Distributed streaming over BitTorrent (experimental)</small>
            </p>

            <p class="view">
                <a href="http://github.com/desyncr/wtngrm">Wtngrm</a> <small>Wrapper around various Queue systems</small>
            </p>

            <p class="view">
                <a href="http://github.com/desyncr/connected">Connected</a> <small>Library for Real time communication</small>
            </p>

            <p class="view">
                <a href="http://github.com/tpb-hydra/proxy">Hydra</a> <small>Highly customizable Web mirror</small>
            </p>

        </div>

</header>

