      <header>
          <h1>{{ site.author }}</h1>
        <p>Web Developer</p>
        <p>
            <h2>Networks</h2>
            <p class="view">
                <a href="http://github.com/asphxia/">GitHub<small>Social coding</small></a>
            </p>
            <p class="view">
                <a href="http://twitter.com/dcavuotti/">Twitter<small>Random thoughts</small></a>
            </p>
            <p class="view last">
                <a href="http://www.linkedin.com/in/dcavuotti">LinkedIn<small>Online profile</small></a>
            </p>
            <h2>Projects</h2>
            <p class="view">
                <a href="http://github.com/tpb-hydra/proxy">Hydra Proxy<small>Highly customizable Web proxy</small></a>
            </p>
            <p class="view">
                <a href="http://github.com/asphxia/phpframework">PHPFramework<small>Highly configurable PHP Web Framework</small></a>
            </p>
            <p class="view">
                <a href="http://github.com/asphxia/coil">Coil<small>Abstraction layer around Curl PHP</small></a>
            </p>
            <p class="view">
                <a href="http://github.com/asphxia/dumpr">Dumpr<small>Download tool</small></a>
            </p>

      </header>

